*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}
body {
  background: #f4d04e;
  min-height: 100vh;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 8px 8px 0 #000;
  width: 350px;
  overflow: hidden;
  border: 1.5px solid #222;
  padding-bottom: 18px;
}

.card-img {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 18px;
  background: #fff;
}

.card-imgd {
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 20px;
}

.card-body {
  padding: 22px 22px 0 22px;
}

.badge {
  display: inline-block;
  background: #f4d04e;
  color: #222;
  font-weight: bold;
  font-size: 0.95em;
  padding: 4px 12px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.date {
  color: #000;
  font-weight: 500;
  font-size: 0.95em;
  margin: 10px 0 0 0;
}

.title {
  color: #000;
  font-size: 1.3em;
  font-weight: bold;
  margin: 12px 0 10px 0;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.title:hover {
  color: #f4d04e;
cursor: pointer;
}

.desc {
  color: #555;
  font-size: 1em;
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1.5px solid;
  border-style: none;
}

.text-author {
  color: black;
  font-weight: 1000;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

